# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Flutter generated
**/doc/api/
**/ios/Flutter/.last_build_id
ios/Flutter/ephemeral/

# Android generated
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log